html {
    background-color: #734e30;
}
body {
    width: 700px; /* 横の長さ */
    height: 850px; /* 縦の長さ */
    margin-right: auto;
    margin-left: auto;
    text-align: center; /* 中央揃え */
    background-color: #fff; /* 背景色 */
    margin-top: -80px;
}
input {
    width: 200px; 
}
p[id=daimei] {
    font-size: 35pt; /* 文字の大きさ */
    font-weight:bolder; /* 文字の太さ */
}
p[id=sub] {
    font-size: x-large; 
    font-weight: bold; 
} 
p[id=setumei] {
    font-size: medium; 
    font-weight: bold; 
    color: grey; /* 文字の色 */
}
input {
    border-radius:30px 30px 30px 30px; /* ボタンの角を丸する */
    outline:none;
    border-color: black;
    background-color: #fff;
    color: #000;
    font-weight: bolder;
    font-size: 1em;
}
