html {
    background-image: /* 背景のドット模様 */
    radial-gradient(#e8d5af 30%, transparent 0%),
    radial-gradient(#fff 30%, transparent 0%);
    background-size: 320px 320px;
    background-position: 0 0, 160px 160px;
}